.git
.github
.vscode
.idea
bin
coverage
**/node_modules
**/*.tsbuildinfo
internal/webui/dist
**/*.db
**/*.db-*
**/*.sqlite
**/*.sqlite-*
**/*.sqlite3
**/*.sqlite3-*
**/*.sock
**/*.log
**/.env
**/.env.*
